  @charset "utf-8";

  $vendors: webkit moz ms o; // css3前缀;
  $prefixWebkit: true !default;   // 谷歌前缀: webkit前缀
  $prefixMozilla: true !default;   // 火狐前缀: moz前缀
  $prefixMicrosoft: true !default;   // IE前缀: ms前缀
  $prefixOpera: true !default;   // opera前缀: o前缀

  // 单位;
  $global-unit: px;

  // colors
  $backcolor: #f5f5f5;

  // fonts

  // weight

  // sizes

  // padding

  // borderRadius
